/* your custom css */

:root {
    --dark-bg-color: #011627;
    --light-font-color: white;
    --brand-color: #2196f3;
    --splash-font-color: #eee;
    --splash-bg-color: rgb(0, 20, 40);
}

code.hljs {
    font-family: "Source Code Pro", monospace;
}

.feature p {
    text-align: left;
}

#cost image {
    width: 200px;
}

.copyright {
    font-size: 10px;
}

.imageAlignSide .blockImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.imageAlignSide .blockContent {
    min-width: 40%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageAlignSide .blockContent h2 {
    margin-top: 0;
}

.container .wrapper .imageAlignSide p {
    margin-bottom: 0;
}

.mainContainer {
    padding-top: 0;
}

.blockImage > img {
    width: 70%;
}

.homeContainer {
    background-color: var(--splash-bg-color);
    padding-top: 5%;
    padding-bottom: 5%;
}

.heroWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--brand-color);
    padding: 60px 10px;
    border-radius: 20px;
    max-width: 80%;
    position: relative;
}

.heroWrapper .button {
    margin: 10px 10px;
    color: var(--splash-font-color);
    background-color: var(--splash-bg-color);
    width: 10em;
}

.heroWrapper .button:hover {
    background-color: var(--brand-color);
}

.box {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    position: absolute;
    transition: 0.5s all;
}

.faastLogo {
    display: none;
}

header img.logo {
    height: 90%;
}

.headerTitleWithLogo {
    font-family: aller, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.projectTitle {
    color: var(--splash-font-color);
}

#features h1 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 5%;
}

.nav-footer {
    padding-top: 5%;
    background-color: black;
}

.nav-footer .sitemap a {
    margin: 0;
}

.container.paddingTop {
    padding-top: 40px;
}

.container.paddingBottom {
    padding-bottom: 40px;
}

#cost {
    padding-bottom: 40px;
}

#zeroops {
    background-color: var(--dark-bg-color);
    background-image: url("../../img/trianglify.svg");
    background-attachment: fixed;
    background-size: cover;
    color: var(--light-font-color);
}

#zeroops .blockImage {
    padding-bottom: 20px;
}

.nav-home img {
    display: none;
}

.emphasize {
    font-size: 18px;
    font-weight: 600;
}

.question {
    margin: 20px;
}

img.prefix {
    margin-right: 16px;
    vertical-align: middle;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 768px) {
    .faastLogo {
        width: 40%;
        display: block;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .nav-home img {
        display: block;
        max-width: 100px;
        margin: 0px 40px;
    }

    .imageAlignSide .blockImage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }

    .imageAlignSide .blockContent {
        margin: 20px;
    }

    .container.paddingTop {
        padding-top: 5%;
    }

    .container.paddingBottom {
        padding-bottom: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .faastLogo {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #zero {
        width: 150px;
    }
    .homeContainer {
        padding-top: 25%;
        padding-bottom: 25%;
    }
    .feature {
        padding-top: 40px;
    }
}

@media (max-width: 480px) {
    .headerTitleWithLogo {
        display: block !important;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
